@model FYP.DB.DBTables.Account_Move

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account_Move</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxed_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxed_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.operation_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.operation_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source_DocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source_DocNavigation.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.purchase_source_docNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.purchase_source_docNavigation.doc_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
