@model FYP.DB.DBTables.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@if(ViewBag.Error is not null){
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    @ViewBag.Error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6  ">
                    @Html.DisplayNameFor(model => model.name)
                </div>

                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.name)
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            
            <div class="row">
                <div class="col-sm-6 font-weight-medium">
            @Html.DisplayNameFor(model => model.description)
        </div>
                <div class="col-sm-6">
            @Html.DisplayFor(model => model.description)
        </div>
            </div>  
            <br />
            <div class="row">
                <div class="col-sm-6 font-weight-medium">
            @Html.DisplayNameFor(model => model.quantity)
        </div>
                <div class="col-sm-6">
            @Html.DisplayFor(model => model.quantity)
        </div>
            </div>  
            <br />
            <div class="row">
                <div class="col-sm-6 font-weight-medium">
            @Html.DisplayNameFor(model => model.unit_price)
        </div>
                <div class="col-sm-6">
            @Html.DisplayFor(model => model.unit_price)
        </div>
            </div> 

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-sm-6 font-weight-medium">
                    @Html.DisplayNameFor(model => model.reorder_level)
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.reorder_level)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 font-weight-medium">
                    @Html.DisplayNameFor(model => model.discontinued)
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.discontinued)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 font-weight-medium">
                    @Html.DisplayNameFor(model => model.category)
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(model => model.category.category_name)
                </div>
            </div>
</div>

    </div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="product_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
