@model FYP.DB.DBTables.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unit_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reorder_level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reorder_level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discontinued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.discontinued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category.category_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.product_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
